h3 {
    text-align: center;
  }
  .board {
    margin: auto;
    text-align: center;
    font-size:50px;
  }
  button{
    display: inline;
    height: 35px;
    width: 35px;
    vertical-align: center;
    padding: 10px auto;
    margin: 10px auto;
  }
  body{
    text-align: center;
  }
  #reset{
    width: 130px;
  }
